#desktop {
  align-items: center;
}

.desktop-battery {
  width: 84vw;
  height: aspect-ratio(1vw);
  background-color: $desktopOutline;
  border-radius: 0 0 1vw 1vw;
  box-shadow: $shadow;
}

.desktop-keyboard {
  width: 88vw;
  height: aspect-ratio(5vw);
  background-color: $desktopSecondary;
  border-radius: 0 0 1vw 1vw;
  justify-content: center;
  box-shadow: $shadow;
  &-notch {
    background-color: $desktopOutline;
    width: 15%;
    height: aspect-ratio(2vw);
    border-radius: 0 0 5vw 5vw;
  }
}

.desktop-outline {
  width: 80%;
  height: aspect-ratio(91vw);
  border-top: 0.5vw solid $desktopSecondary;
  border-right: 0.5vw solid $desktopSecondary;
  border-left: 0.5vw solid $desktopSecondary;
  border-radius: 2.5vw 2.5vw 0 0;
}

.desktop-screen-outline {
  background-color: $primary;
  border-radius: 2vw 2vw 0 0;
  padding: 2.5vw 2vw 3vw 2vw;
}

.desktop-screen {
  background-color: $backgroundScreen;
}

@include respond-to("desktop") {
  .desktop-battery {
    width: px-to-rem(713.5);
    height: px-to-rem(3);
    border-radius: 0 0 px-to-rem(8) px-to-rem(8);
  }
  
  .desktop-keyboard {
    width: px-to-rem(744);
    height: px-to-rem(18);
    border-radius: 0 0 px-to-rem(8) px-to-rem(8);
    &-notch {
      width: px-to-rem(98);
      height: px-to-rem(8);
      border-radius: 0 0 px-to-rem(8) px-to-rem(8);
    }
  }
  
  .desktop-outline {
    width: px-to-rem(603);
    height: px-to-rem(400);
    border-top: px-to-rem(2.5) solid $desktopSecondary;
    border-right: px-to-rem(2.5) solid $desktopSecondary;
    border-left: px-to-rem(2.5) solid $desktopSecondary;
    border-radius: px-to-rem(20.5) px-to-rem(20.5) 0 0;
  }

  .desktop-screen-outline {
    border-radius: px-to-rem(18) px-to-rem(18) 0 0;
    padding: px-to-rem(20) px-to-rem(19.5) px-to-rem(28) px-to-rem(19.5);
  }

}

@include respond-to("desktop-large") {
  .desktop-battery {
    width: px-to-rem(1003);
    height: px-to-rem(5);
    border-radius: 0 0 px-to-rem(12) px-to-rem(12);
  }
  
  .desktop-keyboard {
    width: px-to-rem(1045);
    height: px-to-rem(25.6);
    border-radius: 0 0 px-to-rem(12) px-to-rem(12);
    &-notch {
      width: px-to-rem(138);
      height: px-to-rem(12);
      border-radius: 0 0 px-to-rem(12) px-to-rem(12);
    }
  }
  
  .desktop-outline {
    width: px-to-rem(848);
    height: px-to-rem(562);
    border-top: px-to-rem(4) solid $desktopSecondary;
    border-right: px-to-rem(4) solid $desktopSecondary;
    border-left: px-to-rem(4) solid $desktopSecondary;
    border-radius: px-to-rem(27) px-to-rem(27) 0 0;
  }

  .desktop-screen-outline {
    border-radius: px-to-rem(23) px-to-rem(23) 0 0;
    padding: px-to-rem(28) px-to-rem(27) px-to-rem(39) px-to-rem(27);
  }

}