#mobile {
  height: aspect-ratio(150vw);
}

.mobile-btn {
  background-color: $mobileSideBouton;
  width: 0.7vw;
}

.mobile-btn-one {
  height: aspect-ratio(8vw);
  margin-top: aspect-ratio(20vw);
  margin-bottom: aspect-ratio(5vw);
}
.mobile-btn-two {
  height: aspect-ratio(14vw);
  margin-bottom: aspect-ratio(2.5vw);
}
.mobile-btn-three {
  height: aspect-ratio(20vw);
  margin-top: aspect-ratio(35vw);
}

.mobile-btn-radius-left {
  border-radius: 5vw 0 0 5vw;
}

.mobile-btn-radius-right {
  border-radius: 0 5vw 5vw 0;
}

.mobile-outline {
  width: 43vw;
  border: 0.5vw solid $mobileOutline;
  box-shadow: $shadow;
}

.mobile-outline-radius {
  border-radius: 6.5vw;
}

.mobile-screen-radius {
  border-radius: 6vw;
}

.mobile-container-screen {
  border: 2vw solid $primary;
  height: 100%;
  align-items: center;
  background-color: $backgroundScreen;
}

.mobile-island {
  position: absolute;
  height: aspect-ratio(5vw);
  width: 25%;
  background-color: $primary;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
  z-index: 1;
  .color-notch {
    background-color: $mobileNotch;
  }
  .notch-one {
    width: 30%;
    height: aspect-ratio(1.5vw);
    border-radius: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .notch-two {
    width: 8%;
    height: aspect-ratio(2.5vw);
    border-radius: 100%;
  }
}

@include respond-to("desktop") {
  #mobile {
    height: px-to-rem(464);
  }

  .mobile-btn {
    width: px-to-rem(2.7);
  }

  .mobile-btn-one {
    height: px-to-rem(19);
    margin-top: px-to-rem(60);
    margin-bottom: px-to-rem(13);
  }

  .mobile-btn-two {
    height: px-to-rem(36);
    margin-bottom: px-to-rem(7);
  }

  .mobile-btn-three {
    height: px-to-rem(56);
    margin-top: px-to-rem(104);
  }
  
  .mobile-btn-radius-left {
    border-radius: px-to-rem(8) 0 0 px-to-rem(8);
  }
  
  .mobile-btn-radius-right {
    border-radius: 0 px-to-rem(8) px-to-rem(8) 0;
  }
 
  .mobile-outline {
    border: px-to-rem(1.5) solid $mobileOutline;
    width: px-to-rem(234);
  }

  .mobile-outline-radius {
    border-radius: px-to-rem(28);
  }
  
  .mobile-screen-radius {
    border-radius: px-to-rem(26.5);
  }

  .mobile-container-screen {
    border: px-to-rem(11) solid $primary;
  }

  .mobile-island {
    height: px-to-rem(14);
    width: px-to-rem(118);
    border-radius: 0 0 px-to-rem(14) px-to-rem(14);

    .notch-one {
      width: px-to-rem(31.5);
      height: px-to-rem(4.5);
      border-radius: px-to-rem(16.5);
      margin-right: px-to-rem(8.5);
      margin-left: px-to-rem(8.5);
    }
    .notch-two {
      width: px-to-rem(6);
      height: px-to-rem(6);
      border-radius: 100%;
    }
  }
}

@include respond-to("desktop-large") {
  #mobile {
    height: px-to-rem(652);
  }

  .mobile-btn {
    width: px-to-rem(4);
  }

  .mobile-btn-one {
    height: px-to-rem(27.5);
    margin-top: px-to-rem(84);
    margin-bottom: px-to-rem(19);
  }

  .mobile-btn-two {
    height: px-to-rem(50);
    margin-bottom: px-to-rem(10);
  }

  .mobile-btn-three {
    height: px-to-rem(80);
    margin-top: px-to-rem(146);
  }
  
  .mobile-btn-radius-left {
    border-radius: px-to-rem(12) 0 0 px-to-rem(12);
  }
  
  .mobile-btn-radius-right {
    border-radius: 0 px-to-rem(12) px-to-rem(12) 0;
  }
 
  .mobile-outline {
    border: px-to-rem(2.5) solid $mobileOutline;
    width: px-to-rem(330);
  }

  .mobile-outline-radius {
    border-radius: px-to-rem(40.5);
  }
  
  .mobile-screen-radius {
    border-radius: px-to-rem(38);
  }

  .mobile-container-screen {
    border: px-to-rem(15.6) solid $primary;
  }

  .mobile-island {
    height: px-to-rem(20);
    width: px-to-rem(166);
    border-radius: 0 0 px-to-rem(20) px-to-rem(20);

    .notch-one {
      width: px-to-rem(44);
      height: px-to-rem(6);
      border-radius: 2vw;
      margin-right: px-to-rem(12.5);
      margin-left: px-to-rem(12.5);
    }
    .notch-two {
      width: px-to-rem(8.5);
      height: px-to-rem(8.5);
      border-radius: 100%;
    }
  }
}