<div id="mobile" class="row">
  <div class="col">
    <div class="mobile-btn mobile-btn-radius-left mobile-btn-one"></div>
    <div class="mobile-btn mobile-btn-radius-left mobile-btn-two"></div>
    <div class="mobile-btn mobile-btn-radius-left mobile-btn-two"></div>
  </div>
  <div class="mobile-outline mobile-outline-radius">
    <div class="col mobile-container-screen mobile-screen-radius btn-add">
      <div class="row centered mobile-island">
        <div class="color-notch notch-one"></div>
        <div class="color-notch notch-two"></div>
      </div>
      <div id="mobile-container-addPicture" class="col centered h-100 w-100"></div>
    </div>
  </div>
  <div class="mobile-btn mobile-btn-three mobile-btn-radius-right"></div>
</div>