.icon-add {
  height: aspect-ratio(23vw);
}


@include respond-to("desktop") {
  .icon-add {
    height: px-to-rem(90);
  }
}

@include respond-to("desktop-large") {
  .icon-add {
    height: px-to-rem(132);
  }
}
